NET   "ddr3_addr[0]"                           LOC = "W10"   |     IOSTANDARD = SSTL15               ;
NET   "ddr3_addr[10]"                          LOC = "AC12"  |     IOSTANDARD = SSTL15               ;
NET   "ddr3_addr[11]"                          LOC = "V9"    |     IOSTANDARD = SSTL15               ;
NET   "ddr3_addr[12]"                          LOC = "AE7"   |     IOSTANDARD = SSTL15               ;
NET   "ddr3_addr[13]"                          LOC = "Y13"   |     IOSTANDARD = SSTL15               ;
NET   "ddr3_addr[14]"                          LOC = "V7"    |     IOSTANDARD = SSTL15               ;
NET   "ddr3_addr[15]"                          LOC = "V8"    |     IOSTANDARD = SSTL15               ;
NET   "ddr3_addr[1]"                           LOC = "AA8"   |     IOSTANDARD = SSTL15               ;
NET   "ddr3_addr[2]"                           LOC = "Y11"   |     IOSTANDARD = SSTL15               ;
NET   "ddr3_addr[3]"                           LOC = "AB7"   |     IOSTANDARD = SSTL15               ;
NET   "ddr3_addr[4]"                           LOC = "AA10"  |     IOSTANDARD = SSTL15               ;
NET   "ddr3_addr[5]"                           LOC = "AF7"   |     IOSTANDARD = SSTL15               ;
NET   "ddr3_addr[6]"                           LOC = "Y10"   |     IOSTANDARD = SSTL15               ;
NET   "ddr3_addr[7]"                           LOC = "AC8"   |     IOSTANDARD = SSTL15               ;
NET   "ddr3_addr[8]"                           LOC = "Y8"    |     IOSTANDARD = SSTL15               ;
NET   "ddr3_addr[9]"                           LOC = "W9"    |     IOSTANDARD = SSTL15               ;
NET   "ddr3_ba[0]"                             LOC = "W11"   |     IOSTANDARD = SSTL15               ;
NET   "ddr3_ba[1]"                             LOC = "AB10"  |     IOSTANDARD = SSTL15               ;
NET   "ddr3_ba[2]"                             LOC = "AA7"   |     IOSTANDARD = SSTL15               ;
NET   "ddr3_cas_n"                             LOC = "AD13"  |     IOSTANDARD = SSTL15               ;
NET   "ddr3_ck_n[0]"                           LOC = "AB9"   |     IOSTANDARD = DIFF_SSTL15          ;
NET   "ddr3_ck_n[1]"                           LOC = "AD9"   |     IOSTANDARD = DIFF_SSTL15          ;
NET   "ddr3_ck_p[0]"                           LOC = "AA9"   |     IOSTANDARD = DIFF_SSTL15          ;
NET   "ddr3_ck_p[1]"                           LOC = "AC9"   |     IOSTANDARD = DIFF_SSTL15          ;
NET   "ddr3_cke[0]"                            LOC = "Y7"    |     IOSTANDARD = SSTL15               ;
NET   "ddr3_cke[1]"                            LOC = "AC7"   |     IOSTANDARD = SSTL15               ;
NET   "ddr3_cs_n[0]"                           LOC = "Y12"   |     IOSTANDARD = SSTL15               ;
NET   "ddr3_cs_n[1]"                           LOC = "AA12"  |     IOSTANDARD = SSTL15               ;
NET   "ddr3_dm[0]"                             LOC = "AF3"   |     IOSTANDARD = SSTL15               ;
NET   "ddr3_dm[1]"                             LOC = "W1"    |     IOSTANDARD = SSTL15               ;
NET   "ddr3_dm[2]"                             LOC = "AC3"   |     IOSTANDARD = SSTL15               ;
NET   "ddr3_dm[3]"                             LOC = "V4"    |     IOSTANDARD = SSTL15               ;
NET   "ddr3_dm[4]"                             LOC = "W16"   |     IOSTANDARD = SSTL15               ;
NET   "ddr3_dm[5]"                             LOC = "AD14"  |     IOSTANDARD = SSTL15               ;
NET   "ddr3_dm[6]"                             LOC = "AC19"  |     IOSTANDARD = SSTL15               ;
NET   "ddr3_dm[7]"                             LOC = "AF14"  |     IOSTANDARD = SSTL15               ;
NET   "ddr3_dq[0]"                             LOC = "AE2"   |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[10]"                            LOC = "AC2"   |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[11]"                            LOC = "AA3"   |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[12]"                            LOC = "V1"    |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[13]"                            LOC = "V2"    |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[14]"                            LOC = "Y2"    |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[15]"                            LOC = "Y3"    |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[16]"                            LOC = "AB4"   |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[17]"                            LOC = "AC4"   |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[18]"                            LOC = "AD6"   |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[19]"                            LOC = "AC6"   |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[1]"                             LOC = "AF2"   |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[20]"                            LOC = "AA4"   |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[21]"                            LOC = "Y5"    |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[22]"                            LOC = "Y6"    |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[23]"                            LOC = "AB6"   |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[24]"                            LOC = "V3"    |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[25]"                            LOC = "U1"    |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[26]"                            LOC = "V6"    |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[27]"                            LOC = "U7"    |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[28]"                            LOC = "W3"    |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[29]"                            LOC = "U2"    |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[2]"                             LOC = "AE5"   |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[30]"                            LOC = "U6"    |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[31]"                            LOC = "U5"    |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[32]"                            LOC = "W14"   |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[33]"                            LOC = "W15"   |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[34]"                            LOC = "V19"   |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[35]"                            LOC = "V18"   |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[36]"                            LOC = "V16"   |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[37]"                            LOC = "Y17"   |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[38]"                            LOC = "V17"   |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[39]"                            LOC = "V14"   |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[3]"                             LOC = "AE6"   |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[40]"                            LOC = "AB14"  |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[41]"                            LOC = "AC14"  |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[42]"                            LOC = "AB15"  |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[43]"                            LOC = "AA18"  |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[44]"                            LOC = "AA14"  |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[45]"                            LOC = "AA15"  |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[46]"                            LOC = "AA17"  |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[47]"                            LOC = "AB16"  |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[48]"                            LOC = "AC17"  |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[49]"                            LOC = "AB17"  |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[4]"                             LOC = "AD1"   |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[50]"                            LOC = "AB19"  |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[51]"                            LOC = "AA19"  |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[52]"                            LOC = "AD18"  |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[53]"                            LOC = "AC18"  |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[54]"                            LOC = "AD19"  |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[55]"                            LOC = "AA20"  |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[56]"                            LOC = "AE15"  |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[57]"                            LOC = "AF15"  |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[58]"                            LOC = "AD15"  |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[59]"                            LOC = "AD16"  |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[5]"                             LOC = "AE1"   |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[60]"                            LOC = "AF20"  |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[61]"                            LOC = "AF19"  |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[62]"                            LOC = "AE17"  |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[63]"                            LOC = "AF17"  |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[6]"                             LOC = "AE3"   |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[7]"                             LOC = "AD4"   |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[8]"                             LOC = "Y1"    |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dq[9]"                             LOC = "AB2"   |     IOSTANDARD = SSTL15_T_DCI         ;
NET   "ddr3_dqs_n[0]"                          LOC = "AF4"   |     IOSTANDARD = DIFF_SSTL15_T_DCI    ;
NET   "ddr3_dqs_n[1]"                          LOC = "AC1"   |     IOSTANDARD = DIFF_SSTL15_T_DCI    ;
NET   "ddr3_dqs_n[2]"                          LOC = "AB5"   |     IOSTANDARD = DIFF_SSTL15_T_DCI    ;
NET   "ddr3_dqs_n[3]"                          LOC = "W5"    |     IOSTANDARD = DIFF_SSTL15_T_DCI    ;
NET   "ddr3_dqs_n[4]"                          LOC = "W19"   |     IOSTANDARD = DIFF_SSTL15_T_DCI    ;
NET   "ddr3_dqs_n[5]"                          LOC = "Y16"   |     IOSTANDARD = DIFF_SSTL15_T_DCI    ;
NET   "ddr3_dqs_n[6]"                          LOC = "AE20"  |     IOSTANDARD = DIFF_SSTL15_T_DCI    ;
NET   "ddr3_dqs_n[7]"                          LOC = "AF18"  |     IOSTANDARD = DIFF_SSTL15_T_DCI    ;
NET   "ddr3_dqs_p[0]"                          LOC = "AF5"   |     IOSTANDARD = DIFF_SSTL15_T_DCI    ;
NET   "ddr3_dqs_p[1]"                          LOC = "AB1"   |     IOSTANDARD = DIFF_SSTL15_T_DCI    ;
NET   "ddr3_dqs_p[2]"                          LOC = "AA5"   |     IOSTANDARD = DIFF_SSTL15_T_DCI    ;
NET   "ddr3_dqs_p[3]"                          LOC = "W6"    |     IOSTANDARD = DIFF_SSTL15_T_DCI    ;
NET   "ddr3_dqs_p[4]"                          LOC = "W18"   |     IOSTANDARD = DIFF_SSTL15_T_DCI    ;
NET   "ddr3_dqs_p[5]"                          LOC = "Y15"   |     IOSTANDARD = DIFF_SSTL15_T_DCI    ;
NET   "ddr3_dqs_p[6]"                          LOC = "AD20"  |     IOSTANDARD = DIFF_SSTL15_T_DCI    ;
NET   "ddr3_dqs_p[7]"                          LOC = "AE18"  |     IOSTANDARD = DIFF_SSTL15_T_DCI    ;
NET   "ddr3_odt[0]"                            LOC = "V11"   |     IOSTANDARD = SSTL15               ;
NET   "ddr3_odt[1]"                            LOC = "AA13"  |     IOSTANDARD = SSTL15               ;
NET   "ddr3_ras_n"                             LOC = "AC13"  |     IOSTANDARD = SSTL15               ;
NET   "ddr3_reset_n"                           LOC = "AB20"  |     IOSTANDARD = LVCMOS15             ;
NET   "ddr3_we_n"                              LOC = "AB12"  |     IOSTANDARD = SSTL15               ;
